<div style="text-align: center; margin-top: 50px auto;">
  <ngx-gauge 
    [type]="gaugeType" 
    [value]="gaugeValue()" 
    [label]="gaugeLabel" 
    [append]="gaugeAppendText"
    [min]="0"
    [max]="100"
    [thick]="15"
    [cap]="'round'"
    [duration]="1500" 
    [animate]="true"
    [thresholds]="{'0': {color: 'green'}, '40': {color: 'orange'}, '75': {color: 'red'}}"
    [backgroundColor]="'#e0e0e0'">
  </ngx-gauge>

  <div style="margin-top: 40px; height: 300px;">
    <canvas baseChart
      [data]="lineChartData"
      [options]="lineChartOptions"
      [type]="'line'">
    </canvas>
  </div>

  <p>Valor actual: <strong>{{ gaugeValue() }}</strong> km/hr</p>

  <div style="margin-bottom: 20px;">
    <label for="manualInput" style="display: block; margin-bottom: 5px; font-weight: bold;">
      Ajuste Manual:
    </label>
    <input 
      id="manualInput"
      type="number" 
      [value]="gaugeValue()" 
      (input)="updateManualValue($event)"
      min="0" 
      max="100"
      style="padding: 10px; width: 80px; border-radius: 5px; border: 1px solid #ccc; text-align: center; font-size: 16px;"
    >
  </div>

  <!-- Botón dinámico -->
  <button (click)="toggleSimulation()" 
          [style.backgroundColor]="isPaused() ? '#4CAF50' : '#f44336'"
          style="color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; font-size: 16px;">
    {{ isPaused() ? '▶️ Reanudar' : '⏸️ Pausar' }}
  </button>
</div>

<router-outlet />
